<header class="header">
    <a href="/" class="header_logo">aj_abache</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class=""> Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <svg width="25" height="33" viewBox="0 0 25 33" aria-hidden="true" focusable=”false”><g transform="matrix(-1 0 0 1 21 -3)" fill="none" fill-rule="evenodd"><path d="M8.069 18.237l2.015.54-3.473 12.962-2.016-.54L8.07 18.237zm2.015.54l2.016.54L8.627 32.28l-2.016-.54 3.473-12.962z" fill="currentColor"></path><ellipse stroke="currentColor" stroke-width="4" transform="rotate(15 11.502 12.378)" cx="11.502" cy="12.378" rx="7.391" ry="7.29"></ellipse></g></svg>
        </button>
    </div>
</header>